{% extends 'layout.html' %}
{% load static %}
{% block title %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<title>Products</title>
{% include 'products/header.html' %}
{% include 'products/navbar.html' %}
{% endblock %}
{% block main_content %}
<h1>Products</h1>
<ul>
    {% for product in products %}
    <li>Name: {{product.name}} Price: {{product.price}}</li>
    <img src="{% static 'images/cloud.png' %}" class="rounded-circle"/>
    {% endfor %}
</ul>

{% endblock %}

