{% extends 'layout.html' %}
{% block title %}
<title>All Students</title>
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">All Student</h1>
            <div class="card py-2 px-2">
                <a class="btn btn-success btn-sm ml-auto mb-2" href="/products/postStudent">Add New Student</a>
                <table class="table-striped">
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Batch</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                    {% for student in students %}
                    <tr>
                        <td>{{ student.firstname }}</td>
                        <td>{{ student.lastname }}</td>
                        <td>{{ student.batch }}</td>
                        <td>{{ student.category }}</td>
                        <td> <img src="{{student.image_url}}" alt="Student_img" width="100"></td>
                        <td><button class="btn btn-primary">Edit</button>&nbsp;
                            <a href="/products/deleteStudent/{{student.id}}"
                             class="btn btn-danger btn-sm" onclick="return confirm('Are u sure')">Delete</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}